
<h2>Here are all the users</h2>

<% @users.each do |u| %>
    <ul class="usrindx">
        <li>User: <%= u.name %></li>
        <li>Email: <%= u.email %></li>
        <li>Phone: <%= u.phone %></li>
        <li>ID: <%= u.id %></li>
    </ul>
<% end %>
