
<h2 class="new_accnt">Sign-In Below to See Your Notifications</h2>


<div class="forms">

    <%= form_tag("/search", method: "get") do %>

    <div class="input">
        <%= label_tag(:email) %> <br>
        <%= text_field_tag(:email) %>
    </div>

            <%= submit_tag("Submit", class: "submit") %>
    <% end %>
</div>
