<div class="about">
    <h3>About WeatherAlert</h3>
    <p>With WeatherAlert, you don't have to check your phone. You'll be
    told the weather either at the start of each day or week. And alerted
    when there's any significant changes in temperature or a chance
    of rain in a few hours.
    <br>
    Weather Alert utilizes <a class="linkblack" href="https://developers.google.com/maps/documentation/geocoding/">google's geocoding api</a> in conjunction with <a href="https://developer.forecast.io/docs" class="linkblack">darksky's weather api </a>to get the weather data. The text messages are sent using <a href="https://www.twilio.com/" class="linkblack">twilio's texting api </a> and the <a href="https://github.com/javan/whenever" class="linkblack"> whenever gem</a> to schedule the texts.
    </p>
</div>
