<div class="about">
    <h3>About WeatherAlert</h3>

    <hr>

    <p>With WeatherAlert, you don't have to check your phone. You'll be
    told the weather either at the start of each day or week. And alerted
    when there's any significant changes in temperature or a chance
    of rain in a few hours.
    <br>
    Weather Alert utilizes <a class="linkblack" href="https://developers.google.com/maps/documentation/geocoding/">google's geocoding api</a> in conjunction with <a href="https://developer.forecast.io/docs" class="linkblack">darksky's weather api </a>to get the weather data. The text messages are sent using <a href="https://www.twilio.com/" class="linkblack">twilio's texting api </a> and the <a href="https://github.com/javan/whenever" class="linkblack"> whenever gem</a> to schedule the texts.
    </p>

    <hr>

    <p>If you'd like a higher degree of precision or have any other ideas
    about how to make WeatherAlert a better tool please email me.</p>

   <!--  <p>I, Brad Lowenstein, created WeatherAlert out of personal need.
    After moving to San Francisco, I checked the weather
    every day regardless of the fact that it always read the same. Of
    course, I gave up checking the weather when it finally rained. Thus,
    WeatherAlert was born.</p>
 -->
</div>
