
<div class="front">
    <h3 id="light">Stop worrying about the weather</h3>
    <h3 id="heavy">Always be in the know with WeatherAlert</h3>
</div>


<div id="problem">
    <div id="prob_text">
        <h3>We check our phones at least once a day</h3>
        <p>For the forgetful among us, it can be more</p>
    </div>
    <div id="phone">
        <%= image_tag("phone.jpg") %>
    </div>
</div>
