<h2>Welcome Home</h2>

<ul class="welcome">
    <li><%= link_to "New Account", new_user_path, class: "link" %></li>
    <li><%= link_to "Sign-In", signin_path, class: "link" %></li>
</ul>

<div class="about">
    <h3>About WeatherAlert</h3>
    <p>I found myself going through the same routine of opening up my
    favorite weather app every morning to check the weather. Often it was
    exactly the same as the day before. What' the use of all this wasted
    time and effort. I hate looking at my phone.
    <br>
    With WeatherAlert, you don't have to check your phone. You'll be
    told the weather either at the start of each day or week. And alerted
    when there's any significant changes in temperature or a chance
    of rain in a few hours.
    <br>
    <br>
    Weather Alert works by using google's geocoding api in conjunction
    darksky's weather api to get the weather data. Finally, the text messages
    are sent using twilio's texting api and the whenever gem to
    schedule crontab's.
    </p>
</div>
